main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

.centered {
    top: 50%;
    transform: translateY(60%);
}

.sign-in {
    margin-top: 43px;
    font-size: 26px;
    width: 300px;
}