<div class="container">
    <div class="row">
            <div class="col-md-12">
                <div class="search-box"> 
                    <input value="Search" type="text" class="form-control" />
                    <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
        </div>
    <div class="row">
            <client-list></client-list>
        <div class="col-md-12">
            <button type="button" class="btn btn-success"><span class="gglyphicon glyphicon-plus" aria-hidden="true"></span> New Client</button>
        </div>
    </div>
</div>

